/*body {
	margin: 0;
	padding: 0;
}
*/
/*h1 {
	color: #533299;
}
h2 {
	color: #99340F;
}
*/
.demo_button {
	display: inline-block;
	width: 320px;
	height: 44px;
	background: url("../images/background_001.png");
	transition: all 0.3s ease;
}
.demo_button:hover {
/*	opacity: 0.6;*/
	background: url("../images/background_002.png");
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 33%;
	height: 40px;
	border: none;
	background: #E4E3BE;
	text-align: center;
	line-height: 36px;
	box-sizing: border-box;
}
li a {
	text-decoration: none;
	text-transform: uppercase;
}

.center {
	text-align: center;
}